#mensajes{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #000;
    overflow: auto;
    height: 400px;
    background-color: cadetblue;
}

.mensaje{
    border: 1px solid #444;
    border-radius: 5px;
    padding: 5px;
    background-color: wheat;
    display: inline-block;
    margin-top: 5px;
    color: #000;
}

body {
    background-color: #121212;
    color: #ffffff; 
    font-family: 'Arial', sans-serif; 
}


a {
    color: #bb86fc; 
}

a:visited {
    color: #3700B3; 
}


h1, h2, h3, h4, h5, h6 {
    color: #ffffff; 
}


section {
    background-color: #212121; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}


button {
    background-color: #6200ee;
    color: #ffffff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background-color: #3700b3; 
}


input {
    background-color: #333; 
    color: #ffffff; 
    border: 1px solid #777; 
    padding: 5px;
    border-radius: 5px;
}


::selection {
    background-color: #6200ee;
    color: #ffffff; 
}